<form class="auth-form-container" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
  <div class="auth-form-container-input">
    <label for="username">Username: </label>
    <input id="username" type="text" placeholder="Username" required formControlName="username" appTrimText>
    <div *ngIf="username && username?.invalid && (username?.touched || username?.dirty)" class="alert alert-danger">

      <div *ngIf="username.hasError('required')">
        Name is required.
      </div>
      <div *ngIf="username.hasError('minlength') || username.hasError('maxlength')">
        Required username length from 4 to 20 symbols but your {{ username.value.length }}
      </div>
    </div>

  </div>
  <div class="auth-form-container-input">
    <label for="password">Password</label>
    <input id="password" type="password" required formControlName="password" appTrimText appNowhitespacesText>
    <div *ngIf="password && password.invalid && (password.touched || password.dirty)" class="alert alert-danger">
      <div *ngIf="password.hasError('required')">
        Password is required.
      </div>
      <div *ngIf="!password.hasError('required')">
        Password is wrong.
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
  </div>


  <button type="submit">Log In</button>
</form>
